# Local .terraform directories
**/.terraform/*
**/.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# Environments
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/
.env/

# Node
node_modules/

# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Local agents/decks
deck_build/
.agents/
agents/
.sentrux/